.galleryItem {
  margin: 1rem 2rem;
  position: relative;
  overflow: hidden;
  height: 24rem;
}

.galleryItem:hover .galleryItem__overlay {
  display: flex;
}

.galleryItem__overlay {
  height: calc(100% - 3.8rem);
  width: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: none;
  background-color: rgba(255, 255, 255, 0.7);
  animation: slideHorizontal .2s ease-out both;
  z-index: 10;
}

.galleryItem__overlay-details-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.4rem;
  width: 4.4rem;
  border-radius: 5rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-30%, 20%);
  background-color: rgba(0, 0, 0,0.6);
  animation: slideToRight 0.15s 0.2s ease-out both;
  opacity: 0;
}

.galleryItem__overlay-details-link i {
  font-size: 2rem;
  color: whitesmoke;
}

.galleryItem__overlay-footer {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 1rem 2rem;
}

.galleryItem__overlay-name {
  font-size: 1.4rem;
  letter-spacing: 1px;
  animation: slideToTop 0.15s 0.2s ease-out both;
  position: relative;
  opacity: 0;
}

.galleryItem__overlay-desc {
  font-weight: bold;
  font-size: 1.8rem;
  animation: slideToTop 0.2s 0.3s ease-out both;
  position: relative;
  opacity: 0;
}

.galleryItem__inCartStatus {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(80, 80, 80);
  border-bottom-right-radius: 1rem;
  color: white;
  font-weight: 700;
  height: 3.2rem;
  z-index: 10;
  min-width: 7rem;
  padding: 0 1rem;
}

.galleryItem__status-number,
.galleryItem__inCartStatus i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}

.galleryItem__inCartStatus i {
  font-size: 1.8rem;
}

.gallery__image-wrapper {
  height: 100%;
  padding-bottom: 3.8rem;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
}

.galleryItem__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.galleryItem__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 1rem;
  height: 3.8rem;
  letter-spacing: 2px;
  color: whitesmoke;
  font-weight: 700;
}

.galleryItem__addToCart-btn {
  border: none;
  padding: 0 2rem;
  height: 100%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: 700;
  font-size: 1.6rem;
  display: flex;
  height: 100%;
  transition: background-color 0.2s ease-out;
}

.galleryItem__addToCart-btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.galleryItem__addToCart-btn i {
  font-size: 1.2rem;
  margin-right: 0.4rem;
  padding-bottom: 0.2rem;
}

.galleryItem__addToCart-btn i,
.galleryItem__addToCart-btn-text {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: black;
}

/* ------------------- */
/*      Animations     */
/* ------------------- */

@keyframes slideHorizontal {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

@keyframes slideToTop {
  from {
    top: 14px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes slideToRight {
  from {
    right: -14px;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }
}

/* ----------------- */
/*   Media Queries   */
/* ----------------- */

@media screen and (max-width: 1200px) {
  .galleryItem {
    margin: 1rem;
    height: 22rem;
  }

  .galleryItem__addToCart-btn {
    font-size: 1.4rem;
  }

  .galleryItem__addToCart-btn i {
    font-size: 1.1rem;
  }
  
  .galleryItem__overlay-desc {
    font-size: 1.6rem;
  }

  .galleryItem__overlay-details-link {
    height: 4rem;
    width: 4rem;
    transform: translate(-40%, 30%);
  }

  .galleryItem__overlay-details-link i {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1024px) {
  .galleryItem {
    margin: 0;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .galleryItem {
    margin: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .galleryItem {
    margin: 0;
  }
}