.cartDropdownItem {
  display: grid;
  grid-template-columns: 1.5fr 3fr 1fr;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.cartDropdownItem__image-wrapper {
  height: 7rem;
  width: 10rem;
}

.cartDropdownItem__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cartDropdownItem__remove-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartDropdownItem__remove-wrapper i {
  font-size: 2.6rem;
  padding: 1rem;
  cursor: pointer;
}

.cartDropdownItem__text-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.cartDropdownItem__name {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.cartDropdownItem__desc {
  font-size: 1.5rem;
}

/* ----------------- */
/*   Media Queries   */
/* ----------------- */

@media screen and (max-width: 1024px) {
  .cartDropdownItem__name {
    font-size: 1.5rem;
  }

  .cartDropdownItem__desc {
    font-size: 1.4rem;
  }

  .cartDropdownItem__remove-wrapper i {
    font-size: 2.4rem;
  }
}