.app {
  min-height: 100vh;
  background-color: #212121;
  padding-top: 1rem;
  position: relative;
}

.app::before {
  position: absolute;
  content: '';
  opacity: 0.3;
  z-index: 0;
  top: 10rem;
  left: 0;
  width: 100%;
  bottom: 0;
  background-color: #3d3d3d;
  background-image: url('../../assets/images/bg-lg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}

.app::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 10rem;
  width: 100%;
  opacity: 0.8;
}

/* ----------------- */
/*   Media Queries   */
/* ----------------- */

@media screen and (max-width: 1024px) {
  .app::after {
    height: 9rem;
  }

  .app::before {
    top: 9rem;
  }
}

@media screen and (max-width: 768px) {
  .app::before {
    background-position: 40% center;
  }
}

@media screen and (max-width: 576px) {
  .app::after {
    height: 8rem;
  }

  .app::before {
    top: 8rem;
  }
}
