.cartDropdown {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35rem;
  transform: translateY(100%);
  background-color: whitesmoke;
  box-shadow: 0 0 2px 0 black;
  padding: 3rem;
  animation: slideVertical .1s ease-out both;
  z-index: 10;
}

/* ------------------- */
/*      Animations     */
/* ------------------- */

@keyframes slideVertical {
  from {
    bottom: 0;
  }

  to {
    bottom: -10px;
  }
}