.cartDropdown {
  position: absolute;
  bottom: 0;
  right: 0;
  /* width: 35rem; */
  /* min-width: 40rem; */
  transform: translateY(100%);
  background-color: whitesmoke;
  /* box-shadow: 0 0 2px 0 black; */
  padding: 3rem;
  /* border-radius: 0.4rem; */
  animation: slideVertical .1s ease-out both;
  /* z-index: 100; */
  color: #212121;
}

.cartDropdown__empty-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartDropdown__empty-box i {
  font-size: 3.4rem;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.3);
}

.cartDropdown__empty-box-text {
  font-size: 1.4rem;
}

/* ------------------- */
/*      Animations     */
/* ------------------- */

@keyframes slideVertical {
  from {
    bottom: 0;
  }

  to {
    bottom: -10px;
  }
}