.cartItem {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr 3fr 1fr;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.cartItem:last-of-type {
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}

.cartItem__image-wrapper {
  height: 12rem;
}

.cartItem__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cartItem__product-wrapper,
.cartItem__price-wrapper,
.cartItem__remove-wrapper {
  color: whitesmoke;
}

.cartItem__product-wrapper,
.cartItem__price-wrapper,
.cartItem__quantity-wrapper,
.cartItem__remove-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  letter-spacing: 1px;
}

.cartItem__quantity-button-wrapper {
  display: flex;
  background-color: white;
}

.cartItem__plus-btn,
.cartItem__minus-btn {
  width: 3rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  background-color: whitesmoke;
}

.cartItem__quantity-number {
  padding: 0 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartItem__remove-wrapper i {
  font-size: 2.8rem;
  padding: 1rem;
  cursor: pointer;
}