.cartItem {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr 3fr 1fr;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.cartItem:last-of-type {
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}

.cartItem__image-wrapper {
  height: 12rem;
}

.cartItem__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cartItem__product-wrapper,
.cartItem__price-wrapper,
.cartItem__remove-wrapper {
  color: whitesmoke;
}

.cartItem__product-wrapper,
.cartItem__price-wrapper,
.cartItem__quantity-wrapper,
.cartItem__remove-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}

.cartItem__quantity-button-wrapper {
  display: flex;
  background-color: white;
}

.cartItem__plus-btn,
.cartItem__minus-btn {
  width: 3rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  background-color: whitesmoke;
}

.cartItem__quantity-number {
  padding: 0 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartItem__remove-wrapper i {
  font-size: 2.8rem;
  padding: 1rem;
  cursor: pointer;
}

/* ----------------- */
/*   Media Queries   */
/* ----------------- */

@media screen and (max-width: 1200px) {
  .cartItem__image-wrapper {
    height: 10rem;
  }

  .cartItem__remove-wrapper i {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 1024px) {
  .cartItem {
    grid-template-columns: 12rem 3fr 3fr 3fr 1.4fr;
  }

  .cartItem__image-wrapper {
    width: 12rem;
    height: 12rem;
  }
}

@media screen and (max-width: 768px) {
  .cartItem {
    grid-template-columns: 10rem 4fr 2fr 3fr 1.2fr;
  }

  .cartItem__image-wrapper {
    width: 10rem;
    height: 10rem;
  }

  .cartItem__remove-wrapper i {
    font-size: 2rem;
  }

  .cartItem__plus-btn,
  .cartItem__minus-btn {
    width: 2.6rem;
    height: 2.6rem;
    border: none;
    cursor: pointer;
    background-color: whitesmoke;
  }
}

@media screen and (max-width: 576px) {
  .cartItem {
    grid-template-columns: 10rem 3fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
  }

  .cartItem__image-wrapper {
    grid-row: 1 / 2 span;
  }

  .cartItem__quantity-wrapper {
    grid-row: 1 / 2 span;
  }

  .cartItem__remove-wrapper {
    grid-row: 1 / 2 span;
    order: 5;
  }

  .cartItem__quantity-button-wrapper {
    flex-direction: column;
  }
}
