.cartDropdownList__list {
  margin-bottom: 4rem;
  max-height: 50rem;
  overflow-y: scroll;
}

#custom-scroll::-webkit-scrollbar {
  width: 1rem;
}

#custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

#custom-scroll::-webkit-scrollbar-thumb {
  background: #888; 
}

#custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.cartDropdownList__total {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.cartDropdownList__checkout-btn {
  width: 100%;
  padding: 1.3rem;
  border: none;
  background-color: #212121;
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 1rem;
}