.cartDropdownList__list {
  margin-bottom: 4rem;
}

.cartDropdownList__total {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.cartDropdownList__checkout-btn {
  width: 100%;
  padding: 1.3rem;
  border: none;
  background-color: #212121;
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 1rem;
}