.navbar {
  display: flex;
  padding: 1rem 2rem;
  max-width: var(--max-width);
  margin: 0 auto;
  color: whitesmoke;
  position: relative;
  z-index: 1;
}

.navbar__left {
  flex-grow: 1;
}

.navbar__logo {
  text-decoration: none;
  font-size: 2.8rem;
  font-weight: 700;
  color: whitesmoke;
}

.navbar__logo span {
  color: #F84E47;
}

.navbar__logo span i {
  padding: 0 0.2rem;
}

.navbar__text-wrapper {
  padding-top: 0.5rem;
}

.navbar__text {
  letter-spacing: 2px;
}

.navbar__right {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.navbar__cart {
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 1.5rem;
  height: 100%;
  cursor: pointer;
}

.navbar__cart::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  background-color: transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid whitesmoke;
}

.navbar__cart-items-number {
  font-size: 1.8rem;
  margin-right: 1rem;
  font-weight: 700;
}

.navbar__cart i {
  font-size: 2.4rem;
}

/* ----------------- */
/*   Media Queries   */
/* ----------------- */

@media screen and (max-width: 1200px) {
  .navbar {
    max-width: 960px;
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    max-width: 100%;
    padding: 1rem 4rem;
  }

  .navbar__logo {
    font-size: 2.4rem;
  }
  
  .navbar__text-wrapper {
    padding-top: 0.3rem;
  }
  
  .navbar__text {
    font-size: 1.4rem;
  }

  .navbar__cart {
    padding-right: 1.8rem;
  }

  .navbar__cart-items-number {
    font-size: 1.6rem;
  }
  
  .navbar__cart i {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 576px) {
  .navbar {
    max-width: 100%;
    padding: 1rem 2rem;
  }

  .navbar__logo {
    font-size: 2.2rem;
  }
  
  .navbar__text-wrapper {
    padding-top: 0;
  }
  
  .navbar__text {
    font-size: 1.2rem;
  }
}