.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

/* --------------------*/
/*        Boxes        */
/* ------------------- */

.footer__boxes {
  background-color: gray;
  /* height: 12rem; */
}

.footer__boxes-container {
  display: flex;
  max-width: var(--max-width);
  margin: 0 auto;
  /* height: 100%; */
  padding: 4rem 0;
  /* background-color: royalblue; */
}

.footer__box {
  width: calc(100% - 66%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #212121;
  /* background-color: rgba(0, 0, 0, 0.2); */
}

.footer__box i {
  font-size: 3.8rem;
  transform: scaleX(-1);
  margin-right: 2rem;
  padding-top: 2.8rem;
  /* color: whitesmoke; */
  color: #212121;
}

.footer__text-name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4rem;
}

.footer__text-desc {
  font-size: 1.4rem;
  margin-top: 1rem;
}

/* --------------------*/
/*      Copyright      */
/* ------------------- */

.footer__copy {
  background-color: whitesmoke;
}

.footer__copy-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  padding: 1rem 2rem;
  margin: 0 auto;
  background-color: whitesmoke;
}

.footer__copy-text {
  flex-grow: 1;
  font-size: 1.4rem;
  color: #212121;
}

.footer__copy-text span {
  font-weight: 700;
}

.footer__payments i {
  font-size: 3.6rem;
  margin-right: 1rem;
  color: #212121;
}