.notFound {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  color: gray;
}

.notFound__codeNumber {
  font-size: 14rem;
  font-weight: 700;
  letter-spacing: 4px;
}

.notFound__desc {
  font-size: 2.6rem;
  font-weight: 200;
  text-align: center;
}

.notFound__back-btn {
  margin-top: 3rem;
  padding: 1rem 4.2rem;
  cursor: pointer;
  border: none;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  color: #212121;
  background-color: rgb(233, 233, 233);
}

/* ----------------- */
/*   Media Queries   */
/* ----------------- */

@media screen and (max-width: 576px) {
  .notFound__codeNumber {
    font-size: 12rem;
  }

  .notFound__desc {
    font-size: 2rem;
  }
}